    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    body {
        background-color: rgb(158, 205, 224);
    }
    
    .card {
        border-radius: 1rem;
        width: 18rem;
        align-items: center;
        position: relative;
        margin: auto;
        margin-top: 10rem;
        background-color: #fff;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    
    .col-1 {
        width: 17rem;
        justify-content: center;
        text-align: center;
        margin: auto;
        display: flex;
        padding: 10px 0;
    }
    
    .col-1 img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 0.2rem;
    }
    
    .description {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        text-align: center;
        margin-top: auto;
        margin-bottom: 0.1rem;
        padding: 20px;
    }
    
    .attribution {
        padding: 100px 0;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }